<div class="center jumbotron">
<h1>This is the home page for RAD.</h1>
<h2>Welcome to RAD 2021
<a href="https://www.rmit.edu.au/"> Visit me here</a> </h2>
<p><%= link_to "Login now!", '#', class: "btn btn-lg btn-primary" %></p>
</div>
