<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "Muhib Hasan, s3850034@student.rmit.edu.au", '#', id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
    <li></li>
</ul>
</nav>
</div>
</header>